name: deploy

on: [workflow_dispatch]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Create key file
        env:
          SERVER_PRIVATE_KEY: ${{ secrets.SERVER_PRIVATE_KEY }}
        shell: bash
        run: |
          echo "$SERVER_PRIVATE_KEY" >> key.pem
          chmod 400 key.pem
      - name: Execute ssh command
        run: |
          ssh -o StrictHostKeyChecking=no -i key.pem ${{ secrets.SERVER_USERNAME }}@${{ secrets.SERVER_HOST }} docker rm -f store-5pm
          ssh -o StrictHostKeyChecking=no -i key.pem ${{ secrets.SERVER_USERNAME }}@${{ secrets.SERVER_HOST }} docker pull thinheoh/store-5pm-docker:latest
          ssh -o StrictHostKeyChecking=no -i key.pem ${{ secrets.SERVER_USERNAME }}@${{ secrets.SERVER_HOST }} docker run -d --name store-5pm -p 8000:8000 thinheoh/store-5pm-docker

